Pytho para finanças- Risco de ações

#Importação de bibliotecas e base de dados

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
dataset= pd.read_csv('../1-Visualização de dados Financeiros/criptos.csv')
dataset

,Date,MANA,POLKADOT,CARDANO,TRON,RIPLE,SAND,POLYGON,BITCOIN
0,2020-01-01,0.031483,NaN,0.033458,0.013250,0.192667,NaN,0.014962,7200.174316
1,2020-01-02,0.032639,NaN,0.032751,0.012870,0.188043,NaN,0.014651,6985.470215
2,2020-01-03,0.032805,NaN,0.034180,0.013435,0.193521,NaN,0.015194,7344.884277
3,2020-01-04,0.035837,NaN,0.034595,0.013521,0.194355,NaN,0.014961,7410.656738
4,2020-01-05,0.036459,NaN,0.034721,0.013623,0.195537,NaN,0.014914,7411.317383
...,...,...,...,...,...,...,...,...,...
867,2022-05-17,1.213923,NaN,0.578077,0.072293,0.437623,1.371631,0.726942,30425.857422
868,2022-05-18,1.035926,NaN,0.505615,0.070974,0.406166,1.192518,0.627577,28720.271484
869,2022-05-19,1.122525,NaN,0.533321,0.073608,0.419976,1.302092,0.658817,30314.333984
870,2022-05-20,1.067323,NaN,0.517907,0.071351,0.411137,1.273900,0.636510,29200.740234
871,2022-05-21,1.069469,9.706536,0.518777,0.071434,0.411225,1.278827,0.640387,29238.945312

In [3]:
dataset.describe()

,MANA,POLKADOT,CARDANO,TRON,RIPLE,SAND,POLYGON,BITCOIN
count,872.000000,555.000000,872.000000,872.000000,872.000000,646.000000,872.000000,872.000000
mean,0.914037,22.224353,0.822655,0.052929,0.587235,1.413369,0.705582,30994.716666
std,1.142035,13.404755,0.768559,0.034049,0.372628,1.778942,0.775394,18531.594602
min,0.018649,2.875028,0.023961,0.008792,0.139635,0.030821,0.008096,4970.788086
25%,0.063340,9.306091,0.096993,0.022517,0.242640,0.082545,0.019850,10431.856934
50%,0.477494,21.626959,0.815034,0.053581,0.549429,0.614172,0.313415,35318.984375
75%,1.241251,33.656902,1.325004,0.074960,0.832800,2.722224,1.434024,46456.573242
max,5.479181,53.881733,2.968239,0.164650,1.839236,8.402190,2.876757,67566.828125

Cálculos de Retornos Anuais

2020

In [4]:
dataset['MANA'][dataset['Date']== '2020-01-01'], dataset['MANA'][dataset['Date']== '2020-12-31']

(0    0.031483
 Name: MANA, dtype: float64,
 365    0.078251
 Name: MANA, dtype: float64)

In [5]:
np.log(0.078251/0.031483)*100

91.04738912804542

In [6]:
dataset['POLKADOT'][dataset['Date']== '2020-01-01'], dataset['POLKADOT'][dataset['Date']== '2020-12-31']

(0   NaN
 Name: POLKADOT, dtype: float64,
 365    9.292508
 Name: POLKADOT, dtype: float64)

In [7]:
#np.log(9.292508/NaN)*100

In [8]:
dataset['CARDANO'][dataset['Date']== '2020-01-01'], dataset['CARDANO'][dataset['Date']== '2020-12-31']

(0    0.033458
 Name: CARDANO, dtype: float64,
 365    0.181397
 Name: CARDANO, dtype: float64)

In [9]:
np.log(0.181397/0.033458)*100

169.0397078597706

In [10]:
dataset['TRON'][dataset['Date']== '2020-01-01'], dataset['TRON'][dataset['Date']== '2020-12-31']

(0    0.01325
 Name: TRON, dtype: float64,
 365    0.026833
 Name: TRON, dtype: float64)

In [11]:
np.log(0.026833/0.1325)*100

-159.69501721072757

In [12]:
dataset['RIPLE'][dataset['Date']== '2020-01-01'], dataset['RIPLE'][dataset['Date']== '2020-12-31']

(0    0.192667
 Name: RIPLE, dtype: float64,
 365    0.219846
 Name: RIPLE, dtype: float64)

In [13]:
np.log(0.219846/0.192667)*100

13.196399113139073

In [14]:
dataset['SAND'][dataset['Date']== '2020-01-01'], dataset['SAND'][dataset['Date']== '2020-12-31']

(0   NaN
 Name: SAND, dtype: float64,
 365    0.035653
 Name: SAND, dtype: float64)

In [15]:
#np.log(0.035653/NaN)*100

In [16]:
dataset['POLYGON'][dataset['Date']== '2020-01-01'], dataset['POLYGON'][dataset['Date']== '2020-12-31']

(0    0.014962
 Name: POLYGON, dtype: float64,
 365    0.017633
 Name: POLYGON, dtype: float64)

In [17]:
np.log(0.017633/0.014962)*100

16.425849297557335

2021

In [18]:
dataset['MANA'][dataset['Date']== '2021-01-01'], dataset['MANA'][dataset['Date']== '2021-12-31']

(366    0.083738
 Name: MANA, dtype: float64,
 730    3.270671
 Name: MANA, dtype: float64)

In [19]:
np.log(3.270671/0.083738)*100

366.50575647606547

In [20]:
dataset['POLKADOT'][dataset['Date']== '2021-01-01'], dataset['POLKADOT'][dataset['Date']== '2021-12-31']

(366    8.306819
 Name: POLKADOT, dtype: float64,
 730    26.719675
 Name: POLKADOT, dtype: float64)

In [21]:
np.log(26.719675/8.306819)*100

116.8323441654041

In [22]:
dataset['CARDANO'][dataset['Date']== '2021-01-01'], dataset['CARDANO'][dataset['Date']== '2021-12-31']

(366    0.17535
 Name: CARDANO, dtype: float64,
 730    1.310209
 Name: CARDANO, dtype: float64)

In [23]:
np.log(1.310209/0.17535)*100

201.11579688682738

In [24]:
dataset['TRON'][dataset['Date']== '2021-01-01'], dataset['TRON'][dataset['Date']== '2021-12-31']

(366    0.02694
 Name: TRON, dtype: float64,
 730    0.075397
 Name: TRON, dtype: float64)

In [25]:
np.log(0.075397/0.02694)*100

102.91553154417285

In [26]:
dataset['RIPLE'][dataset['Date']== '2021-01-01'], dataset['RIPLE'][dataset['Date']== '2021-12-31']

(366    0.237444
 Name: RIPLE, dtype: float64,
 730    0.831163
 Name: RIPLE, dtype: float64)

In [27]:
np.log(0.831163/0.237444)*100

125.28941186402123

In [28]:
dataset['SAND'][dataset['Date']== '2021-01-01'], dataset['SAND'][dataset['Date']== '2021-12-31']

(366    0.037023
 Name: SAND, dtype: float64,
 730    5.84771
 Name: SAND, dtype: float64)

In [29]:
np.log(5.84771/0.037023)*100

506.22660694575694

In [30]:
dataset['POLYGON'][dataset['Date']== '2021-01-01'], dataset['POLYGON'][dataset['Date']== '2021-12-31']

(366    0.017812
 Name: POLYGON, dtype: float64,
 730    2.527107
 Name: POLYGON, dtype: float64)

In [31]:
np.log(2.527107/0.017812)*100

495.49580617311636

2022

In [32]:
dataset['MANA'][dataset['Date']== '2022-01-01'], dataset['MANA'][dataset['Date']== '2022-05-18']

(731    3.345399
 Name: MANA, dtype: float64,
 868    1.035926
 Name: MANA, dtype: float64)

In [33]:
np.log(1.039548/3.345399)*100

-116.87999656817836

In [34]:
dataset['POLKADOT'][dataset['Date']== '2022-01-01'], dataset['POLKADOT'][dataset['Date']== '2022-05-18']

(731    28.583582
 Name: POLKADOT, dtype: float64,
 868   NaN
 Name: POLKADOT, dtype: float64)

In [35]:
np.log(9.524648/28.583582)*100

-109.8949532099232

In [36]:
dataset['CARDANO'][dataset['Date']== '2022-01-01'], dataset['CARDANO'][dataset['Date']== '2022-05-18']

(731    1.376975
 Name: CARDANO, dtype: float64,
 868    0.505615
 Name: CARDANO, dtype: float64)

In [37]:
np.log(0.506569/1.376975)*100

-99.99837997204187

In [38]:
dataset['TRON'][dataset['Date']== '2022-01-01'], dataset['TRON'][dataset['Date']== '2022-05-18']

(731    0.07661
 Name: TRON, dtype: float64,
 868    0.070974
 Name: TRON, dtype: float64)

In [39]:
np.log(0.071071/0.07661)*100

-7.504823915433062

In [40]:
dataset['RIPLE'][dataset['Date']== '2022-01-01'], dataset['RIPLE'][dataset['Date']== '2022-05-18']

(731    0.849472
 Name: RIPLE, dtype: float64,
 868    0.406166
 Name: RIPLE, dtype: float64)

In [41]:
np.log(0.406661/0.849472)*100

-73.66350654678591

In [42]:
dataset['SAND'][dataset['Date']== '2022-01-01'], dataset['SAND'][dataset['Date']== '2022-05-18']

(731    5.972598
 Name: SAND, dtype: float64,
 868    1.192518
 Name: SAND, dtype: float64)

In [43]:
np.log(1.193646/5.972598)*100

-161.0169520023596

In [44]:
dataset['POLYGON'][dataset['Date']== '2022-01-01'], dataset['POLYGON'][dataset['Date']== '2022-05-18']

(731    2.574791
 Name: POLYGON, dtype: float64,
 868    0.627577
 Name: POLYGON, dtype: float64)

In [45]:
np.log(0.628314/2.574791)*100

-141.04836032453824

Variância

In [46]:
#Taxas de retorno anuais
taxas_mana=np.array([91.04,366.5,-116.8])

In [47]:
#Somatório das taxa de retorno anuais / Anos = MÉDIA
media_mana= taxas_mana.sum()/len(taxas_mana)
#média
media_mana

113.58

In [48]:
#outra forma de cálcular a média
media_mana= taxas_mana.mean()
media_mana

113.58

In [49]:
#VARIÂNCIA
#(taxas individuais- média)² = Resultados individuais: soma de todos resultados / anos
#MANA
variancia_mana=((taxas_mana - media_mana)**2).sum() / len(taxas_mana)
variancia_mana

39183.840800000005

In [50]:
#outra forma de cálcular a Variância
variancia_mana=taxas_mana.var()
variancia_mana

39183.840800000005

In [51]:
#POLKADOT
taxas_dot=np.array([0,116.83,-109.89])

In [52]:
media_dot= taxas_dot.sum()/len(taxas_dot)
media_dot

2.3133333333333326

In [53]:
variancia_dot=((taxas_dot-media_dot)**2).sum()/ len(taxas_dot)
variancia_dot

8569.668822222222

In [54]:
#comparando a Variância de + de 1 ativo nos últimos 30 dias
dataset['MANA'].tail(365).var(), dataset['POLKADOT'].tail(365).var()

(1.3647855058642033, 104.3146573458125)

In [55]:
#CARDANO
taxas_ada=np.array([169.03,201.11,-99.99])
media_ada=taxas_ada.sum()/len(taxas_ada)
variancia_ada=((taxas_ada-media_ada)**2).sum()/len(taxas_ada)
variancia_ada

18229.12186666667

In [56]:
#TRON
taxas_trx=np.array([-159.69,102.91,-7.50])
media_trx=taxas_trx.sum()/len(taxas_trx)
variancia_trx=((taxas_trx-media_trx)**2).sum()/len(taxas_trx)
variancia_trx

11590.102688888886

In [57]:
#RIPLE
taxas_xrp=np.array([13.19,125.28,-73.66])
media_xrp=taxas_xrp.sum()/len(taxas_xrp)
variancia_xrp=((taxas_xrp-media_xrp)**2).sum()/len(taxas_xrp)
variancia_xrp

6631.579355555555

In [58]:
#SAND
taxas_sand=np.array([0,506.22,-161])
media_sand=taxas_sand.sum()/len(taxas_sand)
variancia_sand=((taxas_sand-media_sand)**2).sum()/len(taxas_sand)
variancia_sand

80818.0240888889

In [59]:
#POLYGON
taxas_matic=np.array([16.42,495.49,-141.04])
media_matic=taxas_matic.sum()/len(taxas_matic)
variancia_matic=((taxas_matic-media_matic)**2).sum()/len(taxas_matic)
variancia_matic

73274.68415555556

In [60]:
criptovariancia= ([variancia_mana,variancia_dot,variancia_ada,variancia_trx, variancia_xrp, variancia_sand,variancia_matic])
criptovariancia

[39183.840800000005,
 8569.668822222222,
 18229.12186666667,
 11590.102688888886,
 6631.579355555555,
 80818.0240888889,
 73274.68415555556]

Desvio Padrão

In [61]:
# Raiz quadrada da Variância= Desvio
#DESVIO PADRÃO 

#MANA
desvio_padrão_mana=math.sqrt(variancia_mana)
desvio_padrão_mana

197.94908638334255

In [62]:
#Outra forma de cálcular o Desvio:
taxas_mana.std()

197.94908638334255

In [63]:
#POLKADOT
desvio_padrão_dot=math.sqrt(variancia_dot)
desvio_padrão_dot

92.5725057574992

In [64]:
#CARDANO
desvio_padrão_ada=math.sqrt(variancia_ada)
desvio_padrão_ada

135.01526530976662

In [65]:
#TRON
desvio_padrão_trx=math.sqrt(variancia_trx)
desvio_padrão_trx

107.65733922445273

In [66]:
#RIPLE
desvio_padrão_xrp=math.sqrt(variancia_xrp)
desvio_padrão_xrp

81.43450961082503

In [67]:
#SAND
desvio_padrão_sand=math.sqrt(variancia_sand)
desvio_padrão_sand

284.28511056488503

In [68]:
#POLYGON
desvio_padrão_matic=math.sqrt(variancia_matic)
desvio_padrão_matic

270.6929702736212

In [69]:
#Retorna a comparação da variação de volatilidade de preço em DÓLAR.

dataset['MANA'].tail(180).std(), dataset['POLKADOT'].tail(180).std(), dataset['CARDANO'].tail(180).std(), dataset['TRON'].tail(30).std(), dataset['RIPLE'].tail(180).std(), dataset['SAND'].tail(180).std(), dataset['POLYGON'].tail(180).std(), dataset['BITCOIN'].tail(180).std()

(0.8488834548115131,
 7.17952739142437,
 0.2724963105005313,
 0.006930972452261481,
 0.1339531452161061,
 1.4589723699919588,
 0.47910574724563076,
 6135.684756062037)

Coeficiente de Variação

In [70]:
desvio_padrão_mana, media_mana

(197.94908638334255, 113.58)

Cálculos com todos Ativos

Correlação entre Ativos

Risco de um Portfólio