Pytho para finanças- Risco de ações

#Importação de bibliotecas e base de dados

In [79]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [80]:
dataset= pd.read_csv('../1-Visualização de dados Financeiros/criptos.csv')
dataset

,Date,MANA,POLKADOT,CARDANO,TRON,RIPLE,SAND,POLYGON,BITCOIN
0,2020-01-01,0.031483,NaN,0.033458,0.013250,0.192667,NaN,0.014962,7200.174316
1,2020-01-02,0.032639,NaN,0.032751,0.012870,0.188043,NaN,0.014651,6985.470215
2,2020-01-03,0.032805,NaN,0.034180,0.013435,0.193521,NaN,0.015194,7344.884277
3,2020-01-04,0.035837,NaN,0.034595,0.013521,0.194355,NaN,0.014961,7410.656738
4,2020-01-05,0.036459,NaN,0.034721,0.013623,0.195537,NaN,0.014914,7411.317383
...,...,...,...,...,...,...,...,...,...
866,2022-05-16,1.172838,NaN,0.556716,0.069088,0.422499,1.314255,0.677282,29862.917969
867,2022-05-17,1.213923,NaN,0.578077,0.072293,0.437623,1.371631,0.726942,30425.857422
868,2022-05-18,1.035926,NaN,0.505615,0.070974,0.406166,1.192518,0.627577,28720.271484
869,2022-05-19,1.122525,NaN,0.533321,0.073608,0.419976,1.302092,0.658817,30314.333984
870,2022-05-20,1.082942,9.699699,0.523556,0.073539,0.428881,1.267786,0.643836,29904.888672

In [81]:
dataset.describe()

,MANA,POLKADOT,CARDANO,TRON,RIPLE,SAND,POLYGON,BITCOIN
count,871.000000,555.000000,871.000000,871.000000,871.000000,645.000000,871.000000,871.000000
mean,0.913876,22.224341,0.823010,0.052910,0.587457,1.413568,0.705665,30997.540914
std,1.142681,13.404767,0.768929,0.034064,0.372785,1.780315,0.775835,18542.083181
min,0.018649,2.875028,0.023961,0.008792,0.139635,0.030821,0.008096,4970.788086
25%,0.063184,9.306091,0.096991,0.022499,0.242525,0.082507,0.019843,10421.542969
50%,0.474439,21.626959,0.823752,0.053578,0.549942,0.613953,0.301851,35350.187500
75%,1.244128,33.656902,1.325148,0.075025,0.832829,2.722600,1.434583,46457.087891
max,5.479181,53.881733,2.968239,0.164650,1.839236,8.402190,2.876757,67566.828125

Cálculos de Retornos Anuais

2020

In [82]:
dataset['MANA'][dataset['Date']== '2020-01-01'], dataset['MANA'][dataset['Date']== '2020-12-31']

(0    0.031483
 Name: MANA, dtype: float64,
 365    0.078251
 Name: MANA, dtype: float64)

In [83]:
np.log(0.078251/0.031483)*100

91.04738912804542

In [84]:
dataset['POLKADOT'][dataset['Date']== '2020-01-01'], dataset['POLKADOT'][dataset['Date']== '2020-12-31']

(0   NaN
 Name: POLKADOT, dtype: float64,
 365    9.292508
 Name: POLKADOT, dtype: float64)

In [85]:
#np.log(9.292508/NaN)*100

In [86]:
dataset['CARDANO'][dataset['Date']== '2020-01-01'], dataset['CARDANO'][dataset['Date']== '2020-12-31']

(0    0.033458
 Name: CARDANO, dtype: float64,
 365    0.181397
 Name: CARDANO, dtype: float64)

In [87]:
np.log(0.181397/0.033458)*100

169.0397078597706

In [88]:
dataset['TRON'][dataset['Date']== '2020-01-01'], dataset['TRON'][dataset['Date']== '2020-12-31']

(0    0.01325
 Name: TRON, dtype: float64,
 365    0.026833
 Name: TRON, dtype: float64)

In [89]:
np.log(0.026833/0.1325)*100

-159.69501721072757

In [90]:
dataset['RIPLE'][dataset['Date']== '2020-01-01'], dataset['RIPLE'][dataset['Date']== '2020-12-31']

(0    0.192667
 Name: RIPLE, dtype: float64,
 365    0.219846
 Name: RIPLE, dtype: float64)

In [91]:
np.log(0.219846/0.192667)*100

13.196399113139073

In [92]:
dataset['SAND'][dataset['Date']== '2020-01-01'], dataset['SAND'][dataset['Date']== '2020-12-31']

(0   NaN
 Name: SAND, dtype: float64,
 365    0.035653
 Name: SAND, dtype: float64)

In [93]:
#np.log(0.035653/NaN)*100

In [94]:
dataset['POLYGON'][dataset['Date']== '2020-01-01'], dataset['POLYGON'][dataset['Date']== '2020-12-31']

(0    0.014962
 Name: POLYGON, dtype: float64,
 365    0.017633
 Name: POLYGON, dtype: float64)

In [95]:
np.log(0.017633/0.014962)*100

16.425849297557335

2021

In [96]:
dataset['MANA'][dataset['Date']== '2021-01-01'], dataset['MANA'][dataset['Date']== '2021-12-31']

(366    0.083738
 Name: MANA, dtype: float64,
 730    3.270671
 Name: MANA, dtype: float64)

In [97]:
np.log(3.270671/0.083738)*100

366.50575647606547

In [98]:
dataset['POLKADOT'][dataset['Date']== '2021-01-01'], dataset['POLKADOT'][dataset['Date']== '2021-12-31']

(366    8.306819
 Name: POLKADOT, dtype: float64,
 730    26.719675
 Name: POLKADOT, dtype: float64)

In [99]:
np.log(26.719675/8.306819)*100

116.8323441654041

In [100]:
dataset['CARDANO'][dataset['Date']== '2021-01-01'], dataset['CARDANO'][dataset['Date']== '2021-12-31']

(366    0.17535
 Name: CARDANO, dtype: float64,
 730    1.310209
 Name: CARDANO, dtype: float64)

In [101]:
np.log(1.310209/0.17535)*100

201.11579688682738

In [102]:
dataset['TRON'][dataset['Date']== '2021-01-01'], dataset['TRON'][dataset['Date']== '2021-12-31']

(366    0.02694
 Name: TRON, dtype: float64,
 730    0.075397
 Name: TRON, dtype: float64)

In [103]:
np.log(0.075397/0.02694)*100

102.91553154417285

In [104]:
dataset['RIPLE'][dataset['Date']== '2021-01-01'], dataset['RIPLE'][dataset['Date']== '2021-12-31']

(366    0.237444
 Name: RIPLE, dtype: float64,
 730    0.831163
 Name: RIPLE, dtype: float64)

In [105]:
np.log(0.831163/0.237444)*100

125.28941186402123

In [106]:
dataset['SAND'][dataset['Date']== '2021-01-01'], dataset['SAND'][dataset['Date']== '2021-12-31']

(366    0.037023
 Name: SAND, dtype: float64,
 730    5.84771
 Name: SAND, dtype: float64)

In [107]:
np.log(5.84771/0.037023)*100

506.22660694575694

In [108]:
dataset['POLYGON'][dataset['Date']== '2021-01-01'], dataset['POLYGON'][dataset['Date']== '2021-12-31']

(366    0.017812
 Name: POLYGON, dtype: float64,
 730    2.527107
 Name: POLYGON, dtype: float64)

In [109]:
np.log(2.527107/0.017812)*100

495.49580617311636

2022

In [110]:
dataset['MANA'][dataset['Date']== '2022-01-01'], dataset['MANA'][dataset['Date']== '2022-05-18']

(731    3.345399
 Name: MANA, dtype: float64,
 868    1.035926
 Name: MANA, dtype: float64)

In [111]:
np.log(1.039548/3.345399)*100

-116.87999656817836

In [112]:
dataset['POLKADOT'][dataset['Date']== '2022-01-01'], dataset['POLKADOT'][dataset['Date']== '2022-05-18']

(731    28.583582
 Name: POLKADOT, dtype: float64,
 868   NaN
 Name: POLKADOT, dtype: float64)

In [113]:
np.log(9.524648/28.583582)*100

-109.8949532099232

In [114]:
dataset['CARDANO'][dataset['Date']== '2022-01-01'], dataset['CARDANO'][dataset['Date']== '2022-05-18']

(731    1.376975
 Name: CARDANO, dtype: float64,
 868    0.505615
 Name: CARDANO, dtype: float64)

In [115]:
np.log(0.506569/1.376975)*100

-99.99837997204187

In [116]:
dataset['TRON'][dataset['Date']== '2022-01-01'], dataset['TRON'][dataset['Date']== '2022-05-18']

(731    0.07661
 Name: TRON, dtype: float64,
 868    0.070974
 Name: TRON, dtype: float64)

In [117]:
np.log(0.071071/0.07661)*100

-7.504823915433062

In [118]:
dataset['RIPLE'][dataset['Date']== '2022-01-01'], dataset['RIPLE'][dataset['Date']== '2022-05-18']

(731    0.849472
 Name: RIPLE, dtype: float64,
 868    0.406166
 Name: RIPLE, dtype: float64)

In [119]:
np.log(0.406661/0.849472)*100

-73.66350654678591

In [120]:
dataset['SAND'][dataset['Date']== '2022-01-01'], dataset['SAND'][dataset['Date']== '2022-05-18']

(731    5.972598
 Name: SAND, dtype: float64,
 868    1.192518
 Name: SAND, dtype: float64)

In [121]:
np.log(1.193646/5.972598)*100

-161.0169520023596

In [122]:
dataset['POLYGON'][dataset['Date']== '2022-01-01'], dataset['POLYGON'][dataset['Date']== '2022-05-18']

(731    2.574791
 Name: POLYGON, dtype: float64,
 868    0.627577
 Name: POLYGON, dtype: float64)

In [123]:
np.log(0.628314/2.574791)*100

-141.04836032453824

Variância

In [124]:
#Taxas de retorno anuais
taxas_mana=np.array([91.04,366.5,-116.8])

In [125]:
#Somatório das taxa de retorno anuais / Anos = MÉDIA
media_mana= taxas_mana.sum()/len(taxas_mana)
#média
media_mana

113.58

In [126]:
#outra forma de cálcular a média
media_mana= taxas_mana.mean()
media_mana

113.58

In [127]:
#VARIÂNCIA
#(taxas individuais- média)² = Resultados individuais: soma de todos resultados / anos
#MANA
variancia_mana=((taxas_mana - media_mana)**2).sum() / len(taxas_mana)
variancia_mana

39183.840800000005

In [128]:
#outra forma de cálcular a Variância
variancia_mana=taxas_mana.var()
variancia_mana

39183.840800000005

In [129]:
#POLKADOT
taxas_dot=np.array([0,116.83,-109.89])

In [130]:
media_dot= taxas_dot.sum()/len(taxas_dot)
media_dot

2.3133333333333326

In [131]:
variancia_dot=((taxas_dot-media_dot)**2).sum()/ len(taxas_dot)
variancia_dot

8569.668822222222

In [132]:
#comparando a Variância de + de 1 ativo nos últimos 30 dias
dataset['MANA'].tail(365).var(), dataset['POLKADOT'].tail(365).var()

(1.365990676130643, 103.95929324078087)

In [133]:
#CARDANO
taxas_ada=np.array([169.03,201.11,-99.99])
media_ada=taxas_ada.sum()/len(taxas_ada)
variancia_ada=((taxas_ada-media_ada)**2).sum()/len(taxas_ada)
variancia_ada

18229.12186666667

In [134]:
#TRON
taxas_trx=np.array([-159.69,102.91,-7.50])
media_trx=taxas_trx.sum()/len(taxas_trx)
variancia_trx=((taxas_trx-media_trx)**2).sum()/len(taxas_trx)
variancia_trx

11590.102688888886

In [135]:
#RIPLE
taxas_xrp=np.array([13.19,125.28,-73.66])
media_xrp=taxas_xrp.sum()/len(taxas_xrp)
variancia_xrp=((taxas_xrp-media_xrp)**2).sum()/len(taxas_xrp)
variancia_xrp

6631.579355555555

In [136]:
#SAND
taxas_sand=np.array([0,506.22,-161])
media_sand=taxas_sand.sum()/len(taxas_sand)
variancia_sand=((taxas_sand-media_sand)**2).sum()/len(taxas_sand)
variancia_sand

80818.0240888889

In [137]:
#POLYGON
taxas_matic=np.array([16.42,495.49,-141.04])
media_matic=taxas_matic.sum()/len(taxas_matic)
variancia_matic=((taxas_matic-media_matic)**2).sum()/len(taxas_matic)
variancia_matic

73274.68415555556

In [138]:
criptovariancia= ([variancia_mana,variancia_dot,variancia_ada,variancia_trx, variancia_xrp, variancia_sand,variancia_matic])
criptovariancia

[39183.840800000005,
 8569.668822222222,
 18229.12186666667,
 11590.102688888886,
 6631.579355555555,
 80818.0240888889,
 73274.68415555556]

In [139]:
criptovariancia=to_csv('criptov.csv')

NameError: name 'to_csv' is not defined

Desvio Padrão

In [ ]:
# Raiz quadrada da Variância= Desvio
#DESVIO PADRÃO 

#MANA
desvio_padrão_mana=math.sqrt(variancia_mana)
desvio_padrão_mana

197.94908638334255

In [ ]:
#Outra forma de cálcular o Desvio:
taxas_mana.std()

197.94908638334255

In [ ]:
#POLKADOT
desvio_padrão_dot=math.sqrt(variancia_dot)
desvio_padrão_dot

92.5725057574992

In [ ]:
#CARDANO
desvio_padrão_ada=math.sqrt(variancia_ada)
desvio_padrão_ada

135.01526530976662

In [ ]:
#TRON
desvio_padrão_trx=math.sqrt(variancia_trx)
desvio_padrão_trx

107.65733922445273

In [ ]:
#RIPLE
desvio_padrão_xrp=math.sqrt(variancia_xrp)
desvio_padrão_xrp

81.43450961082503

In [ ]:
#SAND
desvio_padrão_sand=math.sqrt(variancia_sand)
desvio_padrão_sand

284.28511056488503

In [ ]:
#POLYGON
desvio_padrão_matic=math.sqrt(variancia_matic)
desvio_padrão_matic

270.6929702736212

In [146]:
#Retorna a comparação da variação de volatilidade de preço em DÓLAR.

dataset['MANA'].tail(180).std(), dataset['POLKADOT'].tail(180).std(), dataset['CARDANO'].tail(180).std(), dataset['TRON'].tail(180).std(), dataset['RIPLE'].tail(180).std(), dataset['SAND'].tail(180).std(), dataset['POLYGON'].tail(180).std(), dataset['BITCOIN'].tail(180).std()

(0.8465828598040102,
 7.318922114155149,
 0.2742309623221608,
 0.011294423754079942,
 0.13289906974861482,
 1.4489788859060277,
 0.472840879087253,
 6135.724674958078)

Coeficiente de Variação

Cálculos com todos Ativos

Correlação entre Ativos

Risco de um Portfólio