Pytho para finanças- Risco de ações

#Importação de bibliotecas e base de dados

In [415]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import  csv
from scipy import stats

In [416]:
dataset= pd.read_csv('../1-Visualização de dados Financeiros/criptos.csv')
dataset

,Date,MANA,POLKADOT,CARDANO,TRON,RIPLE,SAND,POLYGON,UNISWAP,BITCOIN
0,2020-01-01,0.031483,NaN,0.033458,0.013250,0.192667,NaN,0.014962,NaN,7200.174316
1,2020-01-02,0.032639,NaN,0.032751,0.012870,0.188043,NaN,0.014651,NaN,6985.470215
2,2020-01-03,0.032805,NaN,0.034180,0.013435,0.193521,NaN,0.015194,NaN,7344.884277
3,2020-01-04,0.035837,NaN,0.034595,0.013521,0.194355,NaN,0.014961,NaN,7410.656738
4,2020-01-05,0.036459,NaN,0.034721,0.013623,0.195537,NaN,0.014914,NaN,7411.317383
...,...,...,...,...,...,...,...,...,...,...
869,2022-05-19,1.122525,NaN,0.533321,0.073608,0.419976,1.302092,0.658817,5.190270,30314.333984
870,2022-05-20,1.067323,NaN,0.517907,0.071351,0.411137,1.273900,0.636510,5.104964,29200.740234
871,2022-05-21,1.095843,NaN,0.528314,0.074070,0.414673,1.328947,0.649339,5.237450,29432.226562
872,2022-05-22,1.107102,NaN,0.542618,0.078131,0.422337,1.388092,0.678312,5.509896,30323.722656
873,2022-05-23,1.116772,10.305822,0.548208,0.077947,0.423400,1.415372,0.687748,5.854978,30382.175781

In [417]:
dataset.describe()

,MANA,POLKADOT,CARDANO,TRON,RIPLE,SAND,POLYGON,UNISWAP,BITCOIN
count,874.000000,555.000000,874.000000,874.000000,874.000000,648.000000,874.000000,614.000000,874.000000
mean,0.914520,22.225433,0.822031,0.052989,0.586863,1.413411,0.705541,17.107969,30993.469236
std,1.140769,13.403769,0.767788,0.034033,0.372282,1.776186,0.774505,10.277268,18510.360598
min,0.018649,2.875028,0.023961,0.008792,0.139635,0.030821,0.008096,1.930119,4970.788086
25%,0.063626,9.306091,0.097034,0.022544,0.242841,0.082620,0.019875,8.484247,10447.193115
50%,0.483097,21.626959,0.805680,0.053703,0.548738,0.614548,0.326090,17.458517,35164.308594
75%,1.237373,33.656902,1.324833,0.075308,0.832750,2.721473,1.432143,25.456326,46455.435547
max,5.479181,53.881733,2.968239,0.164650,1.839236,8.402190,2.876757,43.164505,67566.828125

Cálculos de Retornos Anuais

2020

In [418]:
dataset['MANA'][dataset['Date']== '2020-01-01'], dataset['MANA'][dataset['Date']== '2020-12-31']

(0    0.031483
 Name: MANA, dtype: float64,
 365    0.078251
 Name: MANA, dtype: float64)

In [419]:
np.log(0.078251/0.031483)*100

91.04738912804542

In [420]:
dataset['POLKADOT'][dataset['Date']== '2020-01-01'], dataset['POLKADOT'][dataset['Date']== '2020-12-31']

(0   NaN
 Name: POLKADOT, dtype: float64,
 365    9.292508
 Name: POLKADOT, dtype: float64)

In [421]:
#np.log(9.292508/NaN)*100

In [422]:
dataset['CARDANO'][dataset['Date']== '2020-01-01'], dataset['CARDANO'][dataset['Date']== '2020-12-31']

(0    0.033458
 Name: CARDANO, dtype: float64,
 365    0.181397
 Name: CARDANO, dtype: float64)

In [423]:
np.log(0.181397/0.033458)*100

169.0397078597706

In [424]:
dataset['TRON'][dataset['Date']== '2020-01-01'], dataset['TRON'][dataset['Date']== '2020-12-31']

(0    0.01325
 Name: TRON, dtype: float64,
 365    0.026833
 Name: TRON, dtype: float64)

In [425]:
np.log(0.026833/0.1325)*100

-159.69501721072757

In [426]:
dataset['RIPLE'][dataset['Date']== '2020-01-01'], dataset['RIPLE'][dataset['Date']== '2020-12-31']

(0    0.192667
 Name: RIPLE, dtype: float64,
 365    0.219846
 Name: RIPLE, dtype: float64)

In [427]:
np.log(0.219846/0.192667)*100

13.196399113139073

In [428]:
dataset['SAND'][dataset['Date']== '2020-01-01'], dataset['SAND'][dataset['Date']== '2020-12-31']

(0   NaN
 Name: SAND, dtype: float64,
 365    0.035653
 Name: SAND, dtype: float64)

In [429]:
#np.log(0.035653/NaN)*100

In [430]:
dataset['POLYGON'][dataset['Date']== '2020-01-01'], dataset['POLYGON'][dataset['Date']== '2020-12-31']

(0    0.014962
 Name: POLYGON, dtype: float64,
 365    0.017633
 Name: POLYGON, dtype: float64)

In [431]:
np.log(0.017633/0.014962)*100

16.425849297557335

In [488]:
dataset['UNISWAP'][dataset['Date']== '2020-01-01'], dataset['UNISWAP'][dataset['Date']== '2020-12-31']

(0   NaN
 Name: UNISWAP, dtype: float64,
 365    5.168337
 Name: UNISWAP, dtype: float64)

In [489]:
#np.log(5.168337/NaN)*100

ZeroDivisionError: float division by zero

2021

In [432]:
dataset['MANA'][dataset['Date']== '2021-01-01'], dataset['MANA'][dataset['Date']== '2021-12-31']

(366    0.083738
 Name: MANA, dtype: float64,
 730    3.270671
 Name: MANA, dtype: float64)

In [433]:
np.log(3.270671/0.083738)*100

366.50575647606547

In [434]:
dataset['POLKADOT'][dataset['Date']== '2021-01-01'], dataset['POLKADOT'][dataset['Date']== '2021-12-31']

(366    8.306819
 Name: POLKADOT, dtype: float64,
 730    26.719675
 Name: POLKADOT, dtype: float64)

In [435]:
np.log(26.719675/8.306819)*100

116.8323441654041

In [436]:
dataset['CARDANO'][dataset['Date']== '2021-01-01'], dataset['CARDANO'][dataset['Date']== '2021-12-31']

(366    0.17535
 Name: CARDANO, dtype: float64,
 730    1.310209
 Name: CARDANO, dtype: float64)

In [437]:
np.log(1.310209/0.17535)*100

201.11579688682738

In [438]:
dataset['TRON'][dataset['Date']== '2021-01-01'], dataset['TRON'][dataset['Date']== '2021-12-31']

(366    0.02694
 Name: TRON, dtype: float64,
 730    0.075397
 Name: TRON, dtype: float64)

In [439]:
np.log(0.075397/0.02694)*100

102.91553154417285

In [440]:
dataset['RIPLE'][dataset['Date']== '2021-01-01'], dataset['RIPLE'][dataset['Date']== '2021-12-31']

(366    0.237444
 Name: RIPLE, dtype: float64,
 730    0.831163
 Name: RIPLE, dtype: float64)

In [441]:
np.log(0.831163/0.237444)*100

125.28941186402123

In [442]:
dataset['SAND'][dataset['Date']== '2021-01-01'], dataset['SAND'][dataset['Date']== '2021-12-31']

(366    0.037023
 Name: SAND, dtype: float64,
 730    5.84771
 Name: SAND, dtype: float64)

In [443]:
np.log(5.84771/0.037023)*100

506.22660694575694

In [444]:
dataset['POLYGON'][dataset['Date']== '2021-01-01'], dataset['POLYGON'][dataset['Date']== '2021-12-31']

(366    0.017812
 Name: POLYGON, dtype: float64,
 730    2.527107
 Name: POLYGON, dtype: float64)

In [445]:
np.log(2.527107/0.017812)*100

495.49580617311636

In [484]:
dataset['UNISWAP'][dataset['Date']== '2021-01-01'], dataset['UNISWAP'][dataset['Date']== '2021-12-31']

(366    4.736249
 Name: UNISWAP, dtype: float64,
 730    17.06888
 Name: UNISWAP, dtype: float64)

In [490]:
np.log(17.06888/4.736249)*100

128.20114502555074

2022

In [446]:
dataset['MANA'][dataset['Date']== '2022-01-01'], dataset['MANA'][dataset['Date']== '2022-05-18']

(731    3.345399
 Name: MANA, dtype: float64,
 868    1.035926
 Name: MANA, dtype: float64)

In [447]:
np.log(1.039548/3.345399)*100

-116.87999656817836

In [448]:
dataset['POLKADOT'][dataset['Date']== '2022-01-01'], dataset['POLKADOT'][dataset['Date']== '2022-05-18']

(731    28.583582
 Name: POLKADOT, dtype: float64,
 868   NaN
 Name: POLKADOT, dtype: float64)

In [449]:
np.log(9.524648/28.583582)*100

-109.8949532099232

In [450]:
dataset['CARDANO'][dataset['Date']== '2022-01-01'], dataset['CARDANO'][dataset['Date']== '2022-05-18']

(731    1.376975
 Name: CARDANO, dtype: float64,
 868    0.505615
 Name: CARDANO, dtype: float64)

In [451]:
np.log(0.506569/1.376975)*100

-99.99837997204187

In [452]:
dataset['TRON'][dataset['Date']== '2022-01-01'], dataset['TRON'][dataset['Date']== '2022-05-18']

(731    0.07661
 Name: TRON, dtype: float64,
 868    0.070974
 Name: TRON, dtype: float64)

In [453]:
np.log(0.071071/0.07661)*100

-7.504823915433062

In [454]:
dataset['RIPLE'][dataset['Date']== '2022-01-01'], dataset['RIPLE'][dataset['Date']== '2022-05-18']

(731    0.849472
 Name: RIPLE, dtype: float64,
 868    0.406166
 Name: RIPLE, dtype: float64)

In [455]:
np.log(0.406661/0.849472)*100

-73.66350654678591

In [456]:
dataset['SAND'][dataset['Date']== '2022-01-01'], dataset['SAND'][dataset['Date']== '2022-05-18']

(731    5.972598
 Name: SAND, dtype: float64,
 868    1.192518
 Name: SAND, dtype: float64)

In [457]:
np.log(1.193646/5.972598)*100

-161.0169520023596

In [458]:
dataset['POLYGON'][dataset['Date']== '2022-01-01'], dataset['POLYGON'][dataset['Date']== '2022-05-18']

(731    2.574791
 Name: POLYGON, dtype: float64,
 868    0.627577
 Name: POLYGON, dtype: float64)

In [459]:
np.log(0.628314/2.574791)*100

-141.04836032453824

In [486]:
dataset['UNISWAP'][dataset['Date']== '2022-01-01'], dataset['UNISWAP'][dataset['Date']== '2022-05-18']

(731    17.444496
 Name: UNISWAP, dtype: float64,
 868    4.902217
 Name: UNISWAP, dtype: float64)

In [491]:
np.log(4.902217/17.444496)*100

-126.93366316497378

Variância

In [460]:
#Taxas de retorno anuais
taxas_mana=np.array([91.04,366.5,-116.8])

In [461]:
#Somatório das taxa de retorno anuais / Anos = MÉDIA
media_mana= taxas_mana.sum()/len(taxas_mana)
#média
media_mana

113.58

In [462]:
#outra forma de cálcular a média
media_mana= taxas_mana.mean()
media_mana

113.58

In [463]:
#VARIÂNCIA
#(taxas individuais- média)² = Resultados individuais: soma de todos resultados / anos
#MANA
variancia_mana=((taxas_mana - media_mana)**2).sum() / len(taxas_mana)
variancia_mana

39183.840800000005

In [464]:
#outra forma de cálcular a Variância
variancia_mana=taxas_mana.var()
variancia_mana

39183.840800000005

In [465]:
#POLKADOT
taxas_dot=np.array([0,116.83,-109.89])

In [466]:
media_dot= taxas_dot.sum()/len(taxas_dot)
media_dot

2.3133333333333326

In [467]:
variancia_dot=((taxas_dot-media_dot)**2).sum()/ len(taxas_dot)
variancia_dot

8569.668822222222

In [468]:
#comparando a Variância de + de 1 ativo nos últimos 30 dias
dataset['MANA'].tail(365).var(), dataset['POLKADOT'].tail(365).var()

(1.3602004852565612, 104.65165914442089)

In [469]:
#CARDANO
taxas_ada=np.array([169.03,201.11,-99.99])
media_ada=taxas_ada.sum()/len(taxas_ada)
variancia_ada=((taxas_ada-media_ada)**2).sum()/len(taxas_ada)
variancia_ada

18229.12186666667

In [470]:
#TRON
taxas_trx=np.array([-159.69,102.91,-7.50])
media_trx=taxas_trx.sum()/len(taxas_trx)
variancia_trx=((taxas_trx-media_trx)**2).sum()/len(taxas_trx)
variancia_trx

11590.102688888886

In [471]:
#RIPLE
taxas_xrp=np.array([13.19,125.28,-73.66])
media_xrp=taxas_xrp.sum()/len(taxas_xrp)
variancia_xrp=((taxas_xrp-media_xrp)**2).sum()/len(taxas_xrp)
variancia_xrp

6631.579355555555

In [472]:
#SAND
taxas_sand=np.array([0,506.22,-161])
media_sand=taxas_sand.sum()/len(taxas_sand)
variancia_sand=((taxas_sand-media_sand)**2).sum()/len(taxas_sand)
variancia_sand

80818.0240888889

In [473]:
#POLYGON
taxas_matic=np.array([16.42,495.49,-141.04])
media_matic=taxas_matic.sum()/len(taxas_matic)
variancia_matic=((taxas_matic-media_matic)**2).sum()/len(taxas_matic)
variancia_matic

73274.68415555556

In [493]:
#UNISWAP
taxas_uni=np.array([0,128.20,-126.93])
media_uni=taxas_uni.sum()/len(taxas_uni)
variancia_uni=((taxas_uni-media_uni)**2).sum()/len(taxas_uni)
variancia_uni

10848.642422222221

In [494]:
criptovariancia= ([variancia_mana,variancia_dot,variancia_ada,variancia_trx, variancia_xrp, variancia_sand,variancia_matic,variancia_uni])
criptovariancia

[39183.840800000005,
 8569.668822222222,
 18229.12186666667,
 11590.102688888886,
 6631.579355555555,
 80818.0240888889,
 10848.642422222221,
 10848.642422222221]

Desvio Padrão

In [475]:
# Raiz quadrada da Variância= Desvio
#DESVIO PADRÃO 

#MANA
desvio_padrão_mana=math.sqrt(variancia_mana)
desvio_padrão_mana

197.94908638334255

In [476]:
#Outra forma de cálcular o Desvio:
taxas_mana.std()

197.94908638334255

In [477]:
#POLKADOT
desvio_padrão_dot=math.sqrt(variancia_dot)
desvio_padrão_dot

92.5725057574992

In [478]:
#CARDANO
desvio_padrão_ada=math.sqrt(variancia_ada)
desvio_padrão_ada

135.01526530976662

In [479]:
#TRON
desvio_padrão_trx=math.sqrt(variancia_trx)
desvio_padrão_trx

107.65733922445273

In [480]:
#RIPLE
desvio_padrão_xrp=math.sqrt(variancia_xrp)
desvio_padrão_xrp

81.43450961082503

In [481]:
#SAND
desvio_padrão_sand=math.sqrt(variancia_sand)
desvio_padrão_sand

284.28511056488503

In [482]:
#POLYGON
desvio_padrão_matic=math.sqrt(variancia_matic)
desvio_padrão_matic

270.6929702736212

In [495]:
#UNISWAP
desvio_padrão_uni=math.sqrt(variancia_uni)
desvio_padrão_uni

104.15681649427569

In [496]:

with open ('./teste.csv', 'w') as csvfile:      
      csv.writer(csvfile, delimiter=',').writerow(['MANA', desvio_padrão_mana ])
      csv.writer(csvfile, delimiter=',').writerow(['POLKADOT', desvio_padrão_dot ])

OSError: [Errno 22] Invalid argument: './teste.csv'

In [498]:
#Retorna a comparação da variação de volatilidade de preço em DÓLAR.

dataset['MANA'].tail(180).std(), dataset['POLKADOT'].tail(180).std(), dataset['CARDANO'].tail(180).std(), dataset['TRON'].tail(30).std(), dataset['RIPLE'].tail(180).std(), dataset['SAND'].tail(180).std(), dataset['POLYGON'].tail(180).std(),dataset['UNISWAP'].tail(180).std(), dataset['BITCOIN'].tail(180).std()

(0.8487491896894412,
 6.824247550993909,
 0.2692591174380787,
 0.006997052208888596,
 0.13445997060382495,
 1.4633317419863527,
 0.4900545472533557,
 4.15234459504969,
 6063.145436410461)

Coeficiente de Variação

In [499]:
desvio_padrão_mana, media_mana

(197.94908638334255, 113.58)

In [500]:
#MANA
coeficiente_variacao_mana=(desvio_padrão_mana/media_mana)*100
coeficiente_variacao_mana

174.28163971063793

In [501]:
#Outra forma de cálcular o coeficiente de variação
stats.variation(taxas_mana)*100

174.28163971063793

In [502]:
#POLKADOT
coeficiente_variacao_dot=(desvio_padrão_dot/media_dot)*100
coeficiente_variacao_dot

4001.693332456739

In [503]:
#CARDANO
coeficiente_variacao_ada=(desvio_padrão_ada/media_ada)*100
coeficiente_variacao_ada

149.93366497475472

In [504]:
#TRON
coeficiente_variacao_trx=(desvio_padrão_trx/media_trx)*100
coeficiente_variacao_trx

-502.44557820995357

Cálculos com todos Ativos

In [505]:
#retirei a coluna date, me trará atualizações de 1 em 1 dia e modifiquei a tabela.
dataset.drop(labels=['Date'],axis=1, inplace=True)
dataset

,MANA,POLKADOT,CARDANO,TRON,RIPLE,SAND,POLYGON,UNISWAP,BITCOIN
0,0.031483,NaN,0.033458,0.013250,0.192667,NaN,0.014962,NaN,7200.174316
1,0.032639,NaN,0.032751,0.012870,0.188043,NaN,0.014651,NaN,6985.470215
2,0.032805,NaN,0.034180,0.013435,0.193521,NaN,0.015194,NaN,7344.884277
3,0.035837,NaN,0.034595,0.013521,0.194355,NaN,0.014961,NaN,7410.656738
4,0.036459,NaN,0.034721,0.013623,0.195537,NaN,0.014914,NaN,7411.317383
...,...,...,...,...,...,...,...,...,...
869,1.122525,NaN,0.533321,0.073608,0.419976,1.302092,0.658817,5.190270,30314.333984
870,1.067323,NaN,0.517907,0.071351,0.411137,1.273900,0.636510,5.104964,29200.740234
871,1.095843,NaN,0.528314,0.074070,0.414673,1.328947,0.649339,5.237450,29432.226562
872,1.107102,NaN,0.542618,0.078131,0.422337,1.388092,0.678312,5.509896,30323.722656
873,1.116772,10.305822,0.548208,0.077947,0.423400,1.415372,0.687748,5.854978,30382.175781

In [506]:
#risco médio anual
taxas_retorno=([dataset.std()*365])
taxas_retorno

[MANA        4.163808e+02
 POLKADOT    4.892376e+03
 CARDANO     2.802426e+02
 TRON        1.242195e+01
 RIPLE       1.358828e+02
 SAND        6.483077e+02
 POLYGON     2.826943e+02
 UNISWAP     3.751203e+03
 BITCOIN     6.756282e+06
 dtype: float64]

In [507]:
math.sqrt(365) #anualizar

19.1049731745428

In [508]:
#Os ativos de maior valor posuem maiores riscos
dataset.std()*math.sqrt(365)

MANA            21.794367
POLKADOT       256.078653
CARDANO         14.668570
TRON             0.650195
RIPLE            7.112433
SAND            33.933978
POLYGON         14.796898
UNISWAP        196.346938
BITCOIN     353639.942682
dtype: float64

Correlação entre Ativos

Risco de um Portfólio