Pytho para finanças- Risco de ações

#Importação de bibliotecas e base de dados

In [59]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [60]:
dataset= pd.read_csv('criptos.csv')
dataset

,Date,MANA,POLKADOT,CARDANO,TRON,RIPLE,SAND,POLYGON,BITCOIN
0,2020-01-01,0.031483,NaN,0.033458,0.013250,0.192667,NaN,0.014962,7200.174316
1,2020-01-02,0.032639,NaN,0.032751,0.012870,0.188043,NaN,0.014651,6985.470215
2,2020-01-03,0.032805,NaN,0.034180,0.013435,0.193521,NaN,0.015194,7344.884277
3,2020-01-04,0.035837,NaN,0.034595,0.013521,0.194355,NaN,0.014961,7410.656738
4,2020-01-05,0.036459,NaN,0.034721,0.013623,0.195537,NaN,0.014914,7411.317383
...,...,...,...,...,...,...,...,...,...
864,2022-05-14,1.326140,NaN,0.539358,0.072501,0.427774,1.432852,0.686139,30101.265625
865,2022-05-15,1.330976,NaN,0.597500,0.072358,0.447371,1.448660,0.737566,31305.113281
866,2022-05-16,1.172838,NaN,0.556716,0.069088,0.422499,1.314255,0.677282,29862.917969
867,2022-05-17,1.213923,NaN,0.578077,0.072293,0.437623,1.371631,0.726942,30425.857422
868,2022-05-18,1.039548,9.524648,0.506569,0.071071,0.406661,1.193646,0.628314,28762.384766

In [61]:
dataset.describe()

,MANA,POLKADOT,CARDANO,TRON,RIPLE,SAND,POLYGON,BITCOIN
count,869.000000,555.000000,869.000000,869.000000,869.000000,643.000000,869.000000,869.000000
mean,0.913446,22.224025,0.823689,0.052862,0.587833,1.413970,0.705791,30999.632942
std,1.143961,13.405064,0.769683,0.034089,0.373131,1.783071,0.776724,18563.375191
min,0.018649,2.875028,0.023961,0.008792,0.139635,0.030821,0.008096,4970.788086
25%,0.062873,9.306091,0.096989,0.022464,0.242295,0.082058,0.019829,10400.915039
50%,0.468862,21.626959,0.827645,0.053449,0.550443,0.613217,0.298981,35501.953125
75%,1.249881,33.656902,1.325436,0.075156,0.832885,2.730363,1.435702,46458.117188
max,5.479181,53.881733,2.968239,0.164650,1.839236,8.402190,2.876757,67566.828125

Cálculos de Retornos Anuais

2020

In [62]:
dataset['MANA'][dataset['Date']== '2020-01-01'], dataset['MANA'][dataset['Date']== '2020-12-31']

(0    0.031483
 Name: MANA, dtype: float64,
 365    0.078251
 Name: MANA, dtype: float64)

In [63]:
np.log(0.078251/0.031483)*100

91.04738912804542

In [64]:
dataset['POLKADOT'][dataset['Date']== '2020-01-01'], dataset['POLKADOT'][dataset['Date']== '2020-12-31']

(0   NaN
 Name: POLKADOT, dtype: float64,
 365    9.292508
 Name: POLKADOT, dtype: float64)

In [65]:
#np.log(9.292508/NaN)*100

In [66]:
dataset['CARDANO'][dataset['Date']== '2020-01-01'], dataset['CARDANO'][dataset['Date']== '2020-12-31']

(0    0.033458
 Name: CARDANO, dtype: float64,
 365    0.181397
 Name: CARDANO, dtype: float64)

In [67]:
np.log(0.181397/0.033458)*100

169.0397078597706

In [68]:
dataset['TRON'][dataset['Date']== '2020-01-01'], dataset['TRON'][dataset['Date']== '2020-12-31']

(0    0.01325
 Name: TRON, dtype: float64,
 365    0.026833
 Name: TRON, dtype: float64)

In [69]:
np.log(0.026833/0.1325)*100

-159.69501721072757

In [70]:
dataset['RIPLE'][dataset['Date']== '2020-01-01'], dataset['RIPLE'][dataset['Date']== '2020-12-31']

(0    0.192667
 Name: RIPLE, dtype: float64,
 365    0.219846
 Name: RIPLE, dtype: float64)

In [71]:
np.log(0.219846/0.192667)*100

13.196399113139073

In [72]:
dataset['SAND'][dataset['Date']== '2020-01-01'], dataset['SAND'][dataset['Date']== '2020-12-31']

(0   NaN
 Name: SAND, dtype: float64,
 365    0.035653
 Name: SAND, dtype: float64)

In [73]:
#np.log(0.035653/NaN)*100

In [74]:
dataset['POLYGON'][dataset['Date']== '2020-01-01'], dataset['POLYGON'][dataset['Date']== '2020-12-31']

(0    0.014962
 Name: POLYGON, dtype: float64,
 365    0.017633
 Name: POLYGON, dtype: float64)

In [75]:
np.log(0.017633/0.014962)*100

16.425849297557335

2021

In [79]:
dataset['MANA'][dataset['Date']== '2021-01-01'], dataset['MANA'][dataset['Date']== '2021-12-31']

(366    0.083738
 Name: MANA, dtype: float64,
 730    3.270671
 Name: MANA, dtype: float64)

In [80]:
np.log(3.270671/0.083738)*100

366.50575647606547

In [78]:
dataset['POLKADOT'][dataset['Date']== '2021-01-01'], dataset['POLKADOT'][dataset['Date']== '2021-12-31']

(366    8.306819
 Name: POLKADOT, dtype: float64,
 730    26.719675
 Name: POLKADOT, dtype: float64)

In [81]:
dataset['CARDANO'][dataset['Date']== '2021-01-01'], dataset['CARDANO'][dataset['Date']== '2021-12-31']

(366    0.17535
 Name: CARDANO, dtype: float64,
 730    1.310209
 Name: CARDANO, dtype: float64)

In [82]:
np.log(1.310209/0.17535)*100

201.11579688682738

In [83]:
dataset['TRON'][dataset['Date']== '2021-01-01'], dataset['TRON'][dataset['Date']== '2021-12-31']

(366    0.02694
 Name: TRON, dtype: float64,
 730    0.075397
 Name: TRON, dtype: float64)

In [ ]:
dataset['RIPLE'][dataset['Date']== '2021-01-01'], dataset['RIPLE'][dataset['Date']== '2021-12-31']

In [ ]:
dataset['SAND'][dataset['Date']== '2021-01-01'], dataset['SAND'][dataset['Date']== '2021-12-31']

In [ ]:
dataset['POLYGON'][dataset['Date']== '2021-01-01'], dataset['POLYGON'][dataset['Date']== '2021-12-31']

2022

In [85]:
dataset['MANA'][dataset['Date']== '2022-01-01'], dataset['MANA'][dataset['Date']== '2022-05-18']

(731    3.345399
 Name: MANA, dtype: float64,
 868    1.039548
 Name: MANA, dtype: float64)